.rowWrapper {
  padding: 0 40px;
  margin-top: 50px;
}

.rowWrapper h2 {
  margin-bottom: 15px;
  color: white;
}

.row {
  display: flex;
  gap: 16px;

  overflow-x: auto;

  scrollbar-width: none;
}

.row::-webkit-scrollbar {
  display: none;
}