.footer {
  margin-top: 80px;

  border-top: 1px solid rgba(255,255,255,.08);

  background: #09090d;
}

.container {
  max-width: 1400px;
  margin: 0 auto;

  padding: 70px 80px;

  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 60px;
}

.brand h2 {
  color: #e50914;
  font-size: 36px;

  margin-bottom: 16px;
}

.brand p {
  color: rgba(255,255,255,.7);

  line-height: 1.8;

  max-width: 450px;
}

.links,
.contact {
  display: flex;
  flex-direction: column;
}

.links h4,
.contact h4 {
  margin-bottom: 20px;
  color: white;
}

.links a {
  text-decoration: none;
  color: rgba(255,255,255,.7);

  margin-bottom: 12px;

  transition: .2s;
}

.links a:hover {
  color: #e50914;
}

.contact p {
  color: rgba(255,255,255,.7);
  margin-bottom: 12px;
}

.bottom {
  border-top: 1px solid rgba(255,255,255,.08);

  text-align: center;

  padding: 24px;

  color: rgba(255,255,255,.5);
}