/* Small Screen */
.container {
  margin: 1rem;
}

.books {
  margin: 5rem 0;
  text-align: center;
}

.books__title {
  margin-bottom: 1rem;
  font-size: 2.44rem;
  color: #4361ee;
}

.books__container {
  display: flex;
  flex-direction: column;
}

.book {
  margin-bottom: 1rem;
}

.book__image {
  border-radius: 25px;
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.book__title {
  color: #4361ee;
  font-size: 1.95rem;
  margin-bottom: 0.5rem;
}

.book__date {
  color: #64748b;
}

/* Medium Screen */
@media (min-width: 768px) {
  .books__container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .book {
    flex-basis: 50%;
  }
}

/* Large Screen */
@media (min-width: 992px) {
  .container {
    max-width: 1200px;
    margin: 3rem auto;
  }

  .book {
    flex-basis: 25%;
    padding: 1rem;
  }
}