.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: rgba(0,0,0,.6);
  backdrop-filter: blur(10px);
  z-index: 9999;
}

.logo {
  color: #e50914;
  font-weight: bold;
}

.menu {
  display: flex;
  gap: 20px;
  opacity: 0.8;
  font-size: 14px;
}

.auth button {
  margin-left: 10px;
  padding: 6px 12px;
  border: none;
  cursor: pointer;
}

.username {
  color: white;
  margin-right: 12px;
  font-size: 14px;
}

.auth button:first-child {
  background: transparent;
  color: white;
  border: 1px solid white;
}

.auth button:last-child {
  background: #e50914;
  color: white;
}