.book {
  margin-bottom: 1rem;
}

.book__image {
  border-radius: 25px;
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.book__title {
  color: #4361ee;
  font-size: 1.95rem;
  margin-bottom: 0.5rem;
}

.book__date {
  color: #64748b;
}